#postpage {
	background: #DCEBF4;
	padding: 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
}

.post { 
	background: #EFF8F9;
	padding: 5px 20px 20px 20px;
	margin-bottom: 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;	
}